<div class="header-content">
  <ul class="list-unstyled nav-bar">
    <li>
      {{#link-to "index"}}トップ{{/link-to}}
    </li>
    <li>
      {{#link-to "bbs.index"}}一覧{{/link-to}}
    </li>
  </ul>
</div>