<div class="reply-content">
  <div class="reply-header">
    <span class="name">
      {{#if item.email}}
        <a href="mailto:{{item.email}}">{{name}}</a>
      {{else}}
        {{name}}
      {{/if}}
    </span>
    <span class="date">
      {{format-date date=item.created_at format='YYYY/MM/DD hh:mm'}}
    </span>
    <span class="id">
      No.{{padId}}
    </span>
  </div>
  <div class="reply-body">
    {{{h item.body}}}
  </div>
  <div class="reply-footer">
    {{#unless isDisableReply}}
      <div class="actions">
        <a class="reply" {{action "reply" item.id on="click"}}>Reply</a>
      </div>
      {{#if isReply}}
        {{post-form
          type="reply"
          completeSubmit=(action "completeSend")
          replyId=item.id
          postId=item.post_id
        }}
      {{/if}}
    {{/unless}}
  </div>
</div>