<div style="width: 240px;">
  <form class="ui mini form" {{action "onSubmit" on="submit"}}>
    <div class="field">
      <button class="ui mini button" disabled={{isPosting}}>投稿</button>
    </div>
    {{#if enableTitle}}
      <div class="field">
        <div>
          {{input type="text" placeholder="タイトル" value=title}}
        </div>
      </div>
    {{/if}}
    <div class="two fields">
      <div class="field">
        {{input type="text" placeholder="名前" value=name}}
      </div>
      <div class="field">
        {{input type="text" placeholder="Email" value=email}}
      </div>
    </div>
    <div>
      <div class="field">
        {{textarea value=body}}
      </div>
    </div>
  </form>
</div>