a {
  text-decoration: none;
}

.header-content {

}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.nav-bar {
  display:flex;
}
.nav-bar>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  color: currentColor;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 10px;
  background-color: #fff;
  border-color: #e5e5e5;
  color: #2e2e2e;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, .4);
  white-space: nowrap;
  text-align: center;
}

.reply-content {
  border-bottom: 1px solid #ececec;
  margin: 0 10px;
  padding: 10px 0;
}

.reply-header>.name>a {
  font-weight: bold;
}

.reply-header>.date,
.reply-header>.id {
  color: #aaa;
}

.reply-body {
  padding-top: 10px;
}
