{{post-form
  url='/api/posts/add'
  type="post"
  completeSubmit=(action "completeSend")
}}

<div>
  {{#each model as |post|}}
    <div>
      {{#link-to "bbs.read" post.id}}
        {{post.id}} - {{post.title}}
      {{/link-to}}
    </div>
  {{/each}}
</div>