<h2>{{model.title}}</h2>
{{post-item item=model isDisableReply=true}}

{{#each model.replies as |item|}}
  {{post-item item=item modelReload=(action "reload")}}
{{/each}}

{{post-form
  type="reply"
  postId=model.id
  completeSubmit=(action "completeSend")
}}
